/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.delete:hover{
  color: red;
}

.edit:hover{
  color: #448aff;
}

.full-width{
  width: 100%;
}

.accion{
  width: 200px;
}
